.attribution { font-size: 0.6875rem; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
    body{
      font-family: "Figtree", sans-serif;
      background-color:  hsl(0, 0%, 8%);
      color: white;
    }
    .card{
      background-color: hsl(0, 0%, 12%);
      margin: 500px auto auto auto;
      display: block;
      justify-content: center;
      max-width: 280px;
      align-content: center;
      padding: 40px;
      color: white;
      box-sizing: content-box;
      text-align: center;
      border-radius: 10px;
      border-bottom: 10px;
      
    }
    .image{
      width: 90px;
      height: 90px;
      border-radius: 50%;
      
    }
    h2{
      margin-bottom: 0%;
      padding-bottom: 0%;
      font-weight: 500;
    }
    .acc{
      display: block;
      background-color: hsl(0, 0%, 20%) ;
      color: white;
      padding: 10px;
      border-radius: 10px;   
      margin-bottom: 15px;   
      text-align: center;
      text-decoration: none;
      font-weight:600;
      font-size: 15px;
    }
    .acc:hover{
      background-color: hsl(75, 94%, 57%);
      color: black;
    }
